.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: center;

  .navbar-container {
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: capitalize;
    font-family: "Mukta", sans-serif;

    .link {
      font-size: 1.32em;
    }

    .active {
      position: relative;
    }

    .active::after {
      position: absolute;
      background-color: #4c4063;
      height: 6px;
      width: 6px;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      border-radius: 2000px;
    }
  }
}
