@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap");

.row {
  height: 100%;
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.col-12 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @media (max-height: 700px) {
    padding-top: 10vh;
  }
}

.columna {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.columna-2 {
  height: fit-content;
}

app-objetivos {
  height: 100%;
}
