@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap");

.columna-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20vh;

  @media (max-height: 700px) {
    padding-top: 10vh;
  }
}

app-objetivos {
  height: 100%;
}
