<div class="contenido">
  <h1>Sistemas Operativos <span>Proyecto</span></h1>

  <p class="objetivos-text">
    Tenemos el <span class="objetivo-word">objetivo</span> de que quedes lo más
    satisfecho con los producto que vendemos. Queremos que cada vez que pienses
    en una empresa de sistemas operativos, pienses en nosotros, por la calidad y
    el servicio que ofrecemos.
  </p>

  <div class="button-row">
    <button mat-flat-button color="primary">Ver info</button>
    <button mat-flat-button>Contacto</button>
  </div>

  <div class="media-contact">
    <div class="icon"><i class="fab fa-instagram"></i></div>
    <div class="icon"><i class="fab fa-whatsapp"></i></div>
    <div class="icon"><i class="fab fa-facebook"></i></div>
  </div>
</div>
